<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/member/auth_join" method="post">
        아이디 : <input type ="text" name="username"/><br>
        암호 : <input type ="password" name="password"/><br>
        이름 : <input type ="text" name="first_name"/><br>
        이메일 : <input type ="text" name="email"/><br>
        <input type = submit value="회원가입"/>

    </form>
</body>
</html>