<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>insert</title>
</head>
<body>
    <form action = "/member/exam_insert" method="post"> 
        {% csrf_token %} 
        <table>
            {% for i in cnt %}
            <tr>
                이름 : <input type = "text" name = "name[]" value="소현{{i}}"/><br/>
                국어 : <input type = "text" name = "kor[]" value="100"/><br/>
                영어 : <input type = "text" name = "eng[]" value="100"/><br/>
                수학 : <input type = "text" name = "math[]" value="100"/><br/>
                반   : <input type = "text" name = "classroom[]" value="100"/><br/>                 
            </tr>
            {% endfor%}
        </table>    
        <input type = "submit" value="입력"/>
        
    </form>   
    <p>
    - dkssud <br/>
    </p>  
</body>
</html>