<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>insert</title>
</head>
<body>
    <h3>insert</h3>
    <hr />
    <form action="/board/t2_insert" method="post">
        <table>
            <tr>
                <td><input type="text" name="name" /></td>
                <td><input type="text" name="kor" /></td>
                <td><input type="text" name="eng" /></td>
                <td><input type="text" name="math" /></td>            
            </tr>
        </table>
        <input type="submit" value="추가" />
        <a href="/board/t2_list">목록</a>
    </form>
</body>
</html>   